/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #222220;
  background: #fff;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  position: relative;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.section__title {
  font-family: 'Forum', serif;
  font-size: 49px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222220;
  margin-bottom: 40px;
}

.section__title--center {
  text-align: center;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 32px;
  background: #aed19a;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #222220;
  transition: all 0.3s;
  white-space: nowrap;
  width: 210px;
  position: relative;
}

.btn__arrow {
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-40%);
  stroke: #222220;
  transition: all 0.3s;
}

.btn:hover {
  background: #6f747a;
  color: #c9e0bc;
}

.btn:hover .btn__arrow {
  stroke: #c9e0bc;
}

/* Section Styles */
.section {
  padding: 150px 0;
  position: relative;
}

.section__content {
  display: flex;
  justify-content: space-between;
  max-width: 1224px;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
}

.section__left {
  flex: 1;
}

.section__right {
  flex: 1;
}

.mob-title {
  display: none !important;
}

/* Responsive Design */
@media (max-width: 1390px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1200px) {
  .section__content {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .section__title {
    font-size: 27px;
    text-align: center;
    color: #89b371;
  }

  .section {
    padding: 60px 0;
  }

  .btn {
    padding: 16px 16px 16px 32px;
    font-size: 14px;
    width: 150px;
    justify-content: flex-start;
  }
}

@media (max-width: 561px) {
  .desk-title {
    display: none !important;
  }
  .mob-title {
    display: flex !important;
    flex-direction: column;
  }
}
